
#mywork .section_title, #mywork .section_heder{
  text-align: center;
}

#mywork,.mywork_body{
  padding-top: 20px;
}

.project {
    overflow: hidden !important;
    max-width: 27rem;
    background: #061B29;
    border: 1px solid rgb(255 255 255 / 0.1);
    border-radius: 17px;
    padding: 20px;
}

.project:hover {
    border-bottom: 4px solid var(--color-button);
}

.project:hover .work-img {
    transform: scale(1.06) !important;
  }

.project-img {
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 8px;
}

.work-img {
    width: 100%;
    display: inline-block !important;
    border-radius: 25px !important;
    transition: 0.5s;
    height: 220px;
    cursor: pointer;
    transform: scale(1) !important;
}

.date-posted {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
}

.who-post {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-title) !important;
  }

.who-post p {
    text-transform: uppercase;
    color: var(--color-button-hover) !important;
    font-size: 12px !important;
    background: linear-gradient(to right,#AE97EF, #96BEEB, #ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600 !important;
}

.admin {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.work-details {
    position: relative;
}

.work-details h2 {
    font-size: 1.3rem;
    max-height: 100px;
    font-weight: 700;
}

.work-details p {
    font-size: 13px;
    word-wrap:break-word;
    overflow-wrap:break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    font-weight: 300 !important;
    line-height: 1.7rem;
    white-space: normal;
}

.work-info {
    font-size: 12px;
}

.project-links {
    display: flex;
    justify-content: space-between;
}

.project .learnmore {
    background: none;
    display: flex;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: #909faf !important;
    cursor: pointer;
    color: var(--color-button);
    border-radius: 4px;
}
.learnmore:hover {
    color: var(--color-button-hover);
}
  
@media only screen and (max-width: 768px) {
    .project {
      margin: 1.5rem;
    }
    .section_title {
      text-align: center;
    }
    .section_title {
      font-size: 1.5rem;
    }
    .work-togather-text {
      padding-bottom: 20px;
    }
    .sec-btn {
      font-size: 13px;
    }
    .owl-item {
      display: flex !important;
      justify-content: center;
    }
    .owl-dots {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
  
@media only screen and (max-width: 425px) {
    .section_title {
      text-align: center;
    }
    .section_title {
      font-size: 1.3rem !important;
      word-wrap: wrap;
    }
    .mywork {
      padding: 0 0 0 0px;
    }
    .work-img {
      padding: 10px;
    }
    .work-details {
      padding: 0 10px 10px 10px;
    }
}