#home{
    min-height: calc(100vh - 100px);
    height: max-content;
    color: white;
    align-items: center;
}

.home_background{
    object-fit: cover;
    position: absolute;
    z-index: -1;
    /* background: url('../../assets/sample_background.webp') no-repeat;  */
    background-position: center center;
    background-size: 100% 100%;
    top: 0px;
    left: 0px;
    min-height: calc(100vh - 100px);
    height: max-content;
    width: 100%;
}

.home_body{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.home_info{
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 5rem;
}

.right_div{
    flex: 1;
    padding: 5rem;
}

.home_photo{
    line-height: 0;
	display: inline-block;	
    border: 4px solid rgba(200,200,200,0.4);
	border-radius: 50%;
    width: 250px;
    height: 250px;
}

.home_photo img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.job_title{
    color: var(--color-button-hover) !important;
    font-size: 1.5 rem;
}

.hey_text{
    font-weight: 500 !important;
    font-size: 2rem !important;
    color: white;
}

.name{
    font-weight: 700 !important;
    font-size: 2.5rem !important;
    color: white;
}

.headline{
    font-weight: 400 !important;
    font-size: 1.5rem;
}

@media (max-width: 1019px) {
    .home_body{
        flex-direction: column;
    }
  }

/* video in as a text background example */
/* .home_background{
    width: 100%;
    height: 100%;
}

.home_body{
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #000;
  color: #fff;
  font-weight: 900;
  font-size: 100px;
  mix-blend-mode: multiply;
  user-select: none;
} */