#contact .section_heder, #contact .section_title{
    text-align: center;
}
#contact .section_heder h2{
    text-transform: capitalize !important;
}

.bold_header{
    font-weight: 750;
    color: var(--color-button) !important;
}

#contact .section_body{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.contact-info{
    display: flex;
    padding: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    align-items: start;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.contact-details{
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.contact-details i{
    margin-bottom: 5px;
    font-size: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    color: var(--color-white);
    height: 80px;
    width: 80px;
    border-radius: 150px;
    background: rgb(23, 32, 61);
}

.contact-details p{
    font-size: 14px;
}

  .contact_mi {
    margin-left: 10px;
    margin-top: 10px;
  }

  .contact_mi p {
    font-size: 14px;
  }
  .contact_mi h4 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.3rem;
  }

  @media (max-width: 660px) {
    .contact-info{
        flex-direction: column;
        padding: 0;
        align-items: start;
    }
    .contact-details{
        flex-direction: row;
    }
    .contact-details p{
        margin-left: 30px;
    }
    .contact-details i{
        width: 85px;
        height: 85px;
    }
  }