#skills{
    padding-top: 2rem;
    text-align: center;
}

#skills .section_title{
  padding-bottom: 1.5rem;
}

.myskills {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
    align-items: center;
  }
  .myskills h3 {
    color: var(--white);
    background: linear-gradient(to right,#AE97EF, #96BEEB, #ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 1.3rem;
    width: 100% !important;
  }
  .skill-img {
    font-size: 3.7rem;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(23, 32, 61);
    box-shadow: 0px 3px 5px rgb(16 70 197 / 20%);
  }
  .skill-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .skill-info img {
    width: 50px;
    height: 50px;
  } 