.my_body{
  z-index: 2;
  /* padding-top: 100px; */
}

.body_page{
  /* background: var(--color-background) !important; */
  background: linear-gradient(.25turn, var(--color-background-left), 60%, var(--color-background-right)) !important;
  height: max-content;
  color: white !important;
  align-items: center;
}
