#about{
    display: flex;
    min-height: calc(100vh - 100px);
    height: max-content;
}

.about_image{
    flex: 1;
    padding-left: 2rem;
}

.about_image img{
    height: 60%;
    width: 60%;
}

.about_info{
    flex: 1;
    padding: 15px 2rem;
}

.download-cv{
    background-color: var(--color-button-hover);
    border: none;
    padding: 15px;
    transition-duration: 0.5s;
}

.download-cv:hover{
    background-color: var(--color-button) !important;
}

.tab{
    text-indent: 20px;
}